        /* Lisää tyyli kuville */
        img {
            display: block;
            max-width: 100%;  /* Kuvan leveys ei ylitä säilön leveyttä */
            max-height: 300px; /* Kuvan korkeus ei ylitä 300px */
            margin: 0 auto;    /* Keskittää kuvan vaakasuunnassa */
            height: auto;      /* Korkeus säilyttää mittasuhteet */
        }
                body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; /* Vaalean harmaa taustaväri */
            color: #333; /* Tumman harmaa teksti */
        }
        h1 {
            text-align: center;
            font-size: 2em;
            margin-top: 20px;
            color: #0056b3; /* Sininen väri */
        }
        ul#notes-list {
            list-style-type: none; /* Poistaa luettelopisteet */
            padding: 0;
            max-width: 800px;
            margin: 0 auto; /* Keskittää listan */
        }
        
        ul#notes-list li {
            background-color: #fff; /* Valkoinen tausta */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd; /* Vaalea reuna */
            border-radius: 5px; /* Pyöristetyt kulmat */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hento varjo */
        }
        
        ul#notes-list li a {
            color: #007bff; /* Linkkien väri */
            text-decoration: none; /* Poistaa alleviivauksen */
        }
        
        ul#notes-list li a:hover {
            text-decoration: underline; /* Lisää alleviivauksen hover-tilassa */
        }
        @media screen and (max-width: 600px) {
            body {
                padding: 10px;
            }
        
            h1 {
                font-size: 1.5em;
            }
        
            ul#notes-list {
                padding-left: 20px;
            }
        
            ul#notes-list li {
                font-size: 14px;
            }
        }
        #note-content {
            width: 80%;           /* Tekstin leveys 80% säilön leveydestä */
            margin: 0 auto;       /* Keskittää elementin */
            text-align: center;   /* Keskittää tekstin */
            line-height: 1.6;     /* Lisää riviväliä tekstille luettavuuden parantamiseksi */
            font-size: 16px;  /* Perusfonttikoko */

        }

        /* Mobiililaitteet (näytön leveys alle 600px) */
@media screen and (max-width: 600px) {
    #note-content {
        font-size: 24px;  /* Suurempi fonttikoko mobiililaitteilla */
    }

    a.back-link {
        font-size: 1.5em; /* Mobiilissa suurempi fonttikoko linkille */
    }
}

        a.back-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.2em;
            color: #007bff;
            text-decoration: none;
        }
        
        a.back-link:hover {
            text-decoration: underline;
        }
        
          